div {
    color: #fff;
}

/************************************* home-page styles***************************/
.hero-description-section {
    display: flex;
    align-items: center;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.hero-heading {
    font-size: 40px;
    font-weight: 400;
}


/* About page styles */
.page-description {
    margin-top: 90px !important;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    /* text-align: center; */
    line-height: 1.8;
    letter-spacing: 0.5px;
}

.page-description h1::before {
    content: '<';
    opacity: 0.5;
}

.page-description h1::after {
    content: '/>';
    opacity: 0.5;
}



.resume-outside {
    /* margin: 70px 20%; */
    margin-top: 80px;
    background: #333;
    padding: 1.76rem 2rem;
    border-top: 20px solid #1a1a1a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 20px solid #1a1a1a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.resume-inside > .comment-head {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #8ac;
}

.resume-inside {
    color: #ccc;
}

.resume-inside > p {
    font-weight: 300;
    font-size: 0.9rem;
}

.resume-inside > p > span {
    color: #fff;
}

.min-heads {
    color: #f78956;
    display: inline;
}

/************************************* Project page styles ***************************/



