#navigationBar {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
}

.nb-logo {
  color: var(--primary-nav-color);
  display: inline-block;
  padding-left: 8px;
}
  
  .nav-right-side {
    float: right;
  }
  
  .nav-right-side .nav-right-side-links {
    color: var(--primary-nav-color);
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-right-side-links p::before, 
  .nb-logo p::before,
  .footer-links a::before{
    content: "<";
    padding-right: 2px;
    opacity: 0.5;
  }
  
  .nav-right-side-links p::after, 
  .nb-logo p::after,
  .footer-links a::after  {
    content: "/>";
    padding-left: 2px;
    opacity: 0.5;
  }


  /* Footer specific */
  #footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }


  @media (max-width: 512px) {
    .nb-logo, .nav-right-side {
      display: block;
      width: 100%;
      text-align: center;
    }

    .nav-right-side .nav-right-side-links {
      margin: 2px;
    }

    #navigationBar {
      position: initial !important;
    }
  }